mixin answers()
  .answers 
    .answers__body
      p.steps__title_2 Отзывы от реальных покупателей нашей продукции
      p.steps__p_blue.reviews__p Прочтите что говорят о наборе <b>наши довольные</b> клиенты
      .accordion-container
        .set
          button(type="button")
            | Пользуйтесь товаром asdasdasd dsdsd
            i.fa.fa-plus
          .content
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        .set
          button(type="button")
            | Пользуйтесь товаром asdasdasd dsdsd
            i.fa.fa-plus
          .content
            p
              | Aliquam cursus vitae nulla non rhoncus. Nunc condimentum erat nec dictum tempus. Suspendisse aliquam erat hendrerit vehicula vestibulum.
        .set
          button(type="button")
            | Пользуйтесь товаром asdasdasd dsdsd
            i.fa.fa-plus
          .content
            p
              | Pellentesque aliquam ligula libero, vitae imperdiet diam porta vitae. sed do eiusmod tempor incididunt ut labore et dolore magna.
        .set
          button(type="button")
            | Пользуйтесь товаром asdasdasd dsdsd
            i.fa.fa-plus
          .content
            p
              | Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam justo, vitae luctus odio pretium scelerisque.
