mixin footer()
  .footer 
    .footer__nav
      a(href="index.html#top").header__logo <span class="blue">wonder</span>world.uz
      p.footer__p This site is not a part of the Facebook website or Facebook Inc. Additionally. This site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc. Этот сайт не является  частью сайта Facebook или Facebook Inc. Кроме того, этот сайт никоим образом не одобрен Facebook. FACEBOOK является торговой маркой FACEBOOK, Inc.
      .footer__row 
        a(href="#!").footer__link Политика конфиденциальности
        a(href="#!").footer__link Пользовательское соглашение