mixin gallery()
  .gallery 
    img(src="images/gallery.webp", alt="gallery").gallery__img
    img(src="images/gallery.webp", alt="gallery").gallery__img
    img(src="images/gallery.webp", alt="gallery").gallery__img
    img(src="images/gallery.webp", alt="gallery").gallery__img
    img(src="images/gallery.webp", alt="gallery").gallery__img
    img(src="images/gallery.webp", alt="gallery").gallery__img