mixin header()
  header.header#top
    .header__option 
      p БЕСПЛАТНАЯ ДОСТАВКА ПО УЗБЕКИСТАНУ 🚚
    .header__nav 
      a(href="index.html#top").header__logo <span class="blue">wonder</span>world.uz
      button.header__button 
        span.header__button-line
      ul.header__list 
        li.header__li 
          a(href="#!").header__link Преимущества
        li.header__li 
          a(href="#!").header__link Отзывы
        li.header__li 
          a(href="#!").header__link Возврат средств
        li.header__li 
          a(href="#!").header__link Заказать
    .offer
      p.offer__title ПОДАРИТЕ СЧАСТЬЕ ВАШЕМУ РЕБЕНКУ
      p.offer__p НАБОР ДЛЯ РИСОВАНИЯ ИЗ 208 ПРЕДМЕТОВ