mixin intro()
  .intro 
    .intro__body
      img(src="images/intro.webp", alt="intro").intro__img.img-big
      .intro__slider 
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
      .intro__information
        img(src="images/stars.svg", alt="stars").intro__information-stars
        p.intro__information-p_light Понравилось 86 покупательям
      .intro__prices 
        .intro__prices-item 
          p.intro__prices-p.gray старая цена
          p.intro__prices-desc.gray 349.000сум
        .intro__prices-item 
          p.intro__prices-p.blue новая цена
          p.intro__prices-desc.blue 288.000сум
      .intro__purchase 
        a(href="#!").btn-purchase.intro__purchase-btn ЗАКАЗАТЬ <img src="images/right-arrow.svg" alt="">
        .intro__purchase-row 
          img(src="images/click.webp", alt="click").intro__purchase-img 
          img(src="images/payme.webp", alt="payme").intro__purchase-img 
          img(src="images/uzcard.webp", alt="uzcard").intro__purchase-img 
      .intro__advantages 
        .intro__advantages-row 
          img(src="images/check.svg", alt="check").intro__advantages-img
          p.intro__advantages-p Понравилось 86 покупательям ыфвывыфв
        .intro__advantages-row 
          img(src="images/check.svg", alt="check").intro__advantages-img
          p.intro__advantages-p Понравилось 86 покупательям
        .intro__advantages-row 
          img(src="images/check.svg", alt="check").intro__advantages-img
          p.intro__advantages-p Понравилось 86 покупательям
        .intro__advantages-row 
          img(src="images/check.svg", alt="check").intro__advantages-img
          p.intro__advantages-p Понравилось 86 покупательям
        .intro__advantages-row 
          img(src="images/check.svg", alt="check").intro__advantages-img
          p.intro__advantages-p Понравилось 86 покупательям
      .intro__reviews 
        p.intro__reviews-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        .intro__reviews-item 
          img(src="images/reviews.webp", alt="").intro__reviews-img 
          .intro__reviews-content 
            p.intro__reviews-title Оксана
            img(src="images/stars.svg", alt="")
