mixin intro()
  .intro 
    .intro__body
      img(src="images/intro.webp", alt="intro").intro__img.img-big
      .intro__slider 
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
        .intro__slider-item 
          img(src="images/intro-slider.webp", alt="slider").intro__slider-img
      .intro__information
        img(src="images/stars.svg", alt="stars").intro__information-stars
        p.intro__information-p_light Понравилось 86 покупательям
      .intro__prices 
        .intro__prices-item 
          p.intro__prices-p.gray старая цена
          p.intro__prices-desc.gray 349.000сум
        .intro__prices-item 
          p.intro__prices-p.blue новая цена
          p.intro__prices-desc.blue 288.000сум
