mixin reviews()
  .reviews 
    p.steps__title_2 Отзывы от реальных покупателей нашей продукции
    p.steps__p_blue.reviews__p Прочтите что говорят о наборе <b>наши довольные</b> клиенты
    .reviews__slider  
      .reviews__item
        img(src="images/reviews.webp", alt="").reviews__item-img
        p.reviews__item-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.reviews__item-name Оксана
        img(src="images/stars.svg", alt="").reviews__item-stars
      .reviews__item
        img(src="images/reviews.webp", alt="").reviews__item-img
        p.reviews__item-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.reviews__item-name Оксана
        img(src="images/stars.svg", alt="").reviews__item-stars
      .reviews__item
        img(src="images/reviews.webp", alt="").reviews__item-img
        p.reviews__item-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.reviews__item-name Оксана
        img(src="images/stars.svg", alt="").reviews__item-stars
      .reviews__item
        img(src="images/reviews.webp", alt="").reviews__item-img
        p.reviews__item-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.reviews__item-name Оксана
        img(src="images/stars.svg", alt="").reviews__item-stars
      .reviews__item
        img(src="images/reviews.webp", alt="").reviews__item-img
        p.reviews__item-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.reviews__item-name Оксана
        img(src="images/stars.svg", alt="").reviews__item-stars