mixin steps()
  .steps 
    h2.steps__title 3 шага достич идеальной осанки
    p.steps__p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
    .steps__item
      p.steps-num 1
      p.steps__item-title 3 шага достич идеальной осанки
      p.steps__item-p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
    .steps__item
      p.steps-num 2
      p.steps__item-title 3 шага достич идеальной осанки
      p.steps__item-p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
    .steps__item
      p.steps-num 3
      p.steps__item-title 3 шага достич идеальной осанки
      p.steps__item-p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
  .steps__bottom
    p.steps__title_2 3 шага достич идеальной осанки 3 шага достич идеальной осанки
    p.steps__p_blue Закажите товар с <b>бесплатной доставкой</b> до двери в течении 1-3 дней
    img(src="images/intro.webp", alt="intro").steps__img
    p.intro__reviews-p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .intro__advantages 
      .intro__advantages-row 
        img(src="images/check.svg", alt="check").intro__advantages-img
        p.intro__advantages-p Понравилось 86 покупательям ыфвывыфв
      .intro__advantages-row 
        img(src="images/check.svg", alt="check").intro__advantages-img
        p.intro__advantages-p Понравилось 86 покупательям ыфвывыфв
      .intro__advantages-row 
        img(src="images/check.svg", alt="check").intro__advantages-img
        p.intro__advantages-p Понравилось 86 покупательям ыфвывыфв
      .intro__advantages-row 
        img(src="images/check.svg", alt="check").intro__advantages-img
        p.intro__advantages-p Понравилось 86 покупательям ыфвывыфв
      .intro__advantages-row 
        img(src="images/check.svg", alt="check").intro__advantages-img
        p.intro__advantages-p Понравилось 86 покупательям ыфвывыфв
  .steps 
    p.steps__title_2 3 шага достич идеальной осанки 3 шага достич идеальной осанки
    p.steps__p_blue Закажите товар с <b>бесплатной доставкой</b> до двери в течении 1-3 дней
    .steps__item_2
      img(src="images/intro.webp", alt="")
      p.steps__item-title_2 3 шага достич идеальной осанки
      p.steps__item-p_2 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .steps__item_2
      img(src="images/intro.webp", alt="")
      p.steps__item-title_2 3 шага достич идеальной осанки
      p.steps__item-p_2 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .steps__item_2
      img(src="images/intro.webp", alt="")
      p.steps__item-title_2 3 шага достич идеальной осанки
      p.steps__item-p_2 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 