mixin steps()
  .steps 
    h2.steps__title 3 шага достич идеальной осанки
    p.steps__p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
    .steps__item
      p.steps-num 1
      p.steps__item-title 3 шага достич идеальной осанки
      p.steps__item-p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
    .steps__item
      p.steps-num 2
      p.steps__item-title 3 шага достич идеальной осанки
      p.steps__item-p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней
    .steps__item
      p.steps-num 3
      p.steps__item-title 3 шага достич идеальной осанки
      p.steps__item-p Закажите товар с бесплатной доставкой до двери в течении 1-3 дней