mixin waranty()
  .waranty 
    h2.waranty__title ГАРАНТИЯ ВОЗВРАТА ДЕНЕГ
    p.waranty__p Мы гарантируем что вернем ваши средства в <br>течение 14 дней с момента покупки. По любым причинам
    img(src="images/waranty.svg", alt="waranty").waranty__img